.subpage
    header
        a(href="#")
            .logo
        .contacts
            a.phone(href="tel:+375296659311")
                | +375 29
                b 665 93 11
            a.phone(href="tel:+375175113105")
                | +375 17
                b 511 31 05
            a.mail(href="mailto:3e@ecocube.by") 3e@ecocube.by
    .subpage-content(data-bind="with: page()")
        nav
            a(href="#" data-i18n="subpage.main-page")
            | &nbsp;-&nbsp;
            span(data-bind="text: title")
        .content
            h1(data-bind="text: title")
            // ko foreach: articles
            article
                .media(data-bind="foreach: media")
                    // ko if: type === 'image'
                    a(href="" data-bind="attr: { href: id }, mediaPopup: {type: 'image'}")
                        div(data-bind="css: type")
                            img(src="" data-bind="attr: { src: id }")
                    // /ko
                    // ko if: type === 'video'
                    a(href="" data-bind="attr: { href: 'http://www.youtube.com/watch?v=' + id }, mediaPopup: {type: 'iframe'}")
                        div(data-bind="css: type")
                            img(src="" data-bind="attr: { src: 'http://img.youtube.com/vi/' + id + '/0.jpg' }, mediaPopup: {type: 'iframe'}")
                    // /ko
                h2(data-bind="text: title")
                .text(data-bind="html: text")
            // /ko
    .footer-container
        footer
            .copyright(data-i18n="footer.copyright")
            menu.menu-footer
                li
                    a(href="#" data-i18n="subpage.main-page")
    a.go-up-btn(href="#" data-bind="goUp: true") ^
