.subpage
    header
        a(href="#")
            .logo
        .contacts
            a.phone(href="tel:+375296659311")
                | +375 29
                b 665 93 11
            a.phone(href="tel:+375175113105")
                | +375 17
                b 511 31 05
            a.mail(href="mailto:3e@ecocube.by") 3e@ecocube.by
    .subpage-content
        nav
            a(href="#") Главная
            | &nbsp;-&nbsp;
            span О нас
        .content
            h1 О нас
            article
                .media
                    .image
                        img(src="/img/media/test.jpg")
                    .video
                        img(src="http://img.youtube.com/vi/CxQsz7tF21s/0.jpg")
                h2 Домостроительная система ЭКОКУБ
                .text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni blanditiis est neque, asperiores animi modi saepe voluptas commodi temporibus sapiente eos deleniti voluptatem repellat necessitatibus ullam ipsa iure voluptatibus tenetur?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni blanditiis est neque, asperiores animi modi saepe voluptas commodi temporibus sapiente eos deleniti voluptatem repellat necessitatibus ullam ipsa iure voluptatibus tenetur?
            article
                .media
                    .image
                        img(src="/img/media/test.jpg")
                h2 Домостроительная система ЭКОКУБ
                .text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni blanditiis est neque, asperiores animi modi saepe voluptas commodi temporibus sapiente eos deleniti voluptatem repellat necessitatibus ullam ipsa iure voluptatibus tenetur?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni blanditiis est neque, asperiores animi modi saepe voluptas commodi temporibus sapiente eos deleniti voluptatem repellat necessitatibus ullam ipsa iure voluptatibus tenetur?
    .footer-container
        footer
            .copyright © 2014 3E.BY
            menu.menu-footer
                li
                    a(href="#") Главная
    a.go-up-btn(href="#") ^
