.subpage
    header
        .logo
        .contacts
            a.phone(href="#")
                | +375 29
                span 665 93 11
            a.phone(href="#")
                | +375 17
                span 511 31 05
            a.mail(herf="#") 3e@ecocube.by
    .subpage-content
        nav
            a(href="#") Главная
            a(href="#") О нас
        div
            h1 О нас
            div
                .media
                    img(src="/img/logo_3e.png")
                h2 Домостроительная система ЭКОКУБ
                .text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni blanditiis est neque, asperiores animi modi saepe voluptas commodi temporibus sapiente eos deleniti voluptatem repellat necessitatibus ullam ipsa iure voluptatibus tenetur?
    .footer-container
        footer
            .copyright © 2014 3E.BY
            menu.menu-footer
                li
                    a(href="#") Главная
    .go-up-btn
