// frameworks
@require 'nib'

// libs
@import 'libs/magnific-popup/dist/magnific-popup.css'

// my modules
@require 'styles/*'

// layouts
@require 'index'
@require 'app/*'
@require 'app/home/*'
@require 'app/subpage/*'
