.home
    header
        img.logo-3e(src="/img/logo_3e.png")
        img.logo-eco(src="/img/logo_eco.png")
        .link-shape.link-shape-1
            .circle
            .line
            a.text-container(href="#")
                .text ДС "ЭКОКУБ"
        .link-shape.link-shape-2
            .line
            a.text-container(href="#")
                .text Элементы ДС "ЭКОКУБ"
        .link-shape.link-shape-3
            .circle
            .line
            a.text-container(href="#")
                .text Как построить ЭКОКУБ
    menu.menu-container
        li
            .menu-label.menu-label-customer Покупателю
            menu.menu-submenu(data-bind="foreach: siteMap()['Покупателю']")
                li
                    a(href="#" data-bind="text: $data, attr: { href: '#/' + $data }")
        li
            .menu-label.menu-label-business Бизнесу
            menu.menu-submenu(data-bind="foreach: siteMap()['Бизнесу']")
                li
                    a(href="#" data-bind="text: $data, attr: { href: '#/' + $data }")
        li
            .menu-label.menu-label-news Новости
            menu.menu-submenu(data-bind="foreach: siteMap()['Новости']")
                li
                    a(href="#" data-bind="text: $data, attr: { href: '#/' + $data }")
    .footer-container
        footer
            .copyright © 2014 3E.BY
            menu.menu-footer
                li
                    a(href="#") О компании
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Реклама
