.home
    background-image url(/img/bg_wo_logo.jpg)
    background-position top
    min-height 1000px

    .logo-3e
        position absolute
        top 50px
        left 0
        right 400px
        margin auto
        @media (max-width: 480px)
            right 0
            top 160px
        @media (min-width: 768px)
            right 500px

    .logo-eco
        position absolute
        top 50px
        left 196px * 0
        right 0
        margin auto
        @media (min-width: 480px)
            left 196px * 1
        @media (min-width: 768px)
            left 196px * 2
        @media (min-width: 1000px)
            left 196px * 3
        @media (min-width: 1200px)
            left 196px * 4
