.home
    header
        a(href="#/3e")
            img.logo-3e(src="/img/logo_3e.png")
        a(href="#/ДС ЭКОКУБ")
            img.logo-eco(src="/img/logo_eco.png")
        .link-shape.link-shape-2
            .line
            a.text-container(href="#/Элементы ДС ЭКОКУБ")
                .text(data-i18n="home.header.elements")
        .link-shape.link-shape-3
            .circle
            .line
            a.text-container(href="#/Как построить ЭКОКУБ")
                .text(data-i18n="home.header.how-to")
    menu.menu-container
        li
            .menu-label.menu-label-customer(data-i18n="home.menu.customer")
            menu.menu-submenu(data-bind="foreach: siteMap()['Покупателю']")
                li
                    a(href="#" data-bind="text: $data, attr: { href: '#/' + $data }")
        li
            .menu-label.menu-label-business(data-i18n="home.menu.business")
            menu.menu-submenu(data-bind="foreach: siteMap()['Бизнесу']")
                li
                    a(href="#" data-bind="text: $data, attr: { href: '#/' + $data }")
        li
            .menu-label.menu-label-news(data-i18n="home.menu.news")
            menu.menu-submenu(data-bind="foreach: siteMap()['Новости']")
                li
                    a(href="#" data-bind="text: $data, attr: { href: '#/' + $data }")
    .footer-container
        footer
            .copyright(data-i18n="footer.copyright")
            menu.menu-footer
                li
                    a(href="http://facebook.com")
                        img(src="/img/facebook-icon.png")
